<section class="vh-100">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form name="form" (ngSubmit)="f.valid && login()" #f="ngForm">
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    [(ngModel)]="model.username"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && !usernameValidation()
                    }"
                    id="username"
                    name="username"
                    autocomplete="off"
                    placeholder="Username"
                  />
                  <small
                    *ngIf="f.submitted && !usernameValidation()"
                    class="text-danger"
                  >
                    Username is required
                  </small>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    [(ngModel)]="model.password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && !passwordValidation()
                    }"
                    id="password"
                    name="password"
                    autocomplete="off"
                    placeholder="Password"
                  />
                  <small
                    *ngIf="f.submitted && !passwordValidation()"
                    class="text-danger"
                  >
                    Password is required
                  </small>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-dark">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
