/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
/* Importing Toastr SCSS file. */
@import "~ngx-toastr/toastr.css";
/* Importing Boostrap icons */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.card {
  border-radius: 15px;
}

li,
a {
  cursor: pointer;
}

.float-right {
  float: right;
}

pagination {
  .page-item {
    .page-link {
      margin-left: 4px;
      margin-right: 4px;
      border-radius: 4px;
      color: black !important;
    }
  }
  .page-item.active .page-link {
    background-color: dimgrey;
    border-color: dimgrey;
  }
}

.text-center {
  text-align: center;
}

.short-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}
