<div class="h-100">
  <div class="row d-flex justify-content-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <h2 class="mt-2 mb-5">
        <span class="text-uppercase">Reset password</span>
      </h2>

      <hr />
      <div class="row">
        <form name="form" (ngSubmit)="f.valid && save()" #f="ngForm">
          <fieldset>
            <div class="form-outline mb-4 col-md-7">
              <input
                type="password"
                [(ngModel)]="model.password"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.submitted && !passwordValidation()
                }"
                id="password"
                name="password"
                autocomplete="off"
                placeholder="New password"
              />
              <small
                *ngIf="f.submitted && !passwordValidation()"
                class="text-danger"
              >
                New password is required
              </small>
            </div>

            <div class="form-outline mb-4 col-md-7">
              <input
                type="password"
                [(ngModel)]="model.confirmedPassword"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    f.submitted &&
                    !confirmedPasswordValidation() &&
                    !passwordMatchValidation()
                }"
                id="confirmedPassword"
                name="confirmedPassword"
                autocomplete="off"
                placeholder="Confirmed password"
              />
              <small
                *ngIf="f.submitted && !confirmedPasswordValidation()"
                class="text-danger"
              >
                Confirmed password is required
              </small>
              <small
                *ngIf="f.submitted && !passwordMatchValidation()"
                class="text-danger"
              >
                Confirmed password must match with new password
              </small>
            </div>

            <hr />
            <div class="">
              <button type="submit" class="btn btn-dark float-right">
                Save
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
