<nav ngxNavbarDynamicExpand class="navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    (click)="collapse.toggle()"
    aria-controls="main-nav"
    aria-expanded="false"
    aria-label="Navigáció kapcsoló"
  >
    <span
      class="
        navbar-toggler-icon
        d-flex
        align-items-center
        justify-content-center
      "
    >
    </span>
  </button>
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="goToHome()">Home</a>
      </li>
      <li class="nav-item" *ngIf="isAuthorized$ | async">
        <a class="nav-link" (click)="goToUsers()">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="!(isAuthorized$ | async)">
        <a class="nav-link" (click)="goToLogin()">Login</a>
      </li>
      <li class="nav-item" *ngIf="!(isAuthorized$ | async)">
        <a class="nav-link" (click)="goToRegister()">Register</a>
      </li>
      <li class="nav-item" *ngIf="isAuthorized$ | async">
        <a class="nav-link" (click)="logout(template)">Logout</a>
      </li>
    </ul>
  </ngx-navbar-collapse>
</nav>

<ng-template #template>
  <div class="modal-body">
    <p class="text-center">Are you sure you want to log out?</p>
    <button type="button" class="btn btn-default" (click)="decline()">
      No
    </button>
    <button
      type="button"
      class="btn btn-default float-right"
      (click)="confirm()"
    >
      Yes
    </button>
  </div>
</ng-template>
