<nav ngxNavbarDynamicExpand class="navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    (click)="collapse.toggle()"
    aria-controls="main-nav"
    aria-expanded="false"
    aria-label="Navigáció kapcsoló"
  >
    <span
      class="navbar-toggler-icon d-flex align-items-center justify-content-center"
    >
    </span>
  </button>
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="goToHome()">Home</a>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="[PERMISSION.ADMIN]">
        <a class="nav-link" (click)="goToUsers()">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto" *ngIf="!(isAuthorized$ | async)">
      <li class="nav-item">
        <a class="nav-link" (click)="goToLogin()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goToRegister()">Register</a>
      </li>
    </ul>
    <ul dropdown class="navbar-nav ms-auto" *ngIf="isAuthorized$ | async">
      <li class="nav-item">
        <a
          id="basic-link"
          dropdownToggle
          (click)="(false)"
          aria-controls="basic-link-dropdown"
          class="nav-link"
          >{{ displayName }}</a
        >
      </li>
      <ul
        id="basic-link-dropdown"
        *dropdownMenu
        class="dropdown-menu navbar-dark bg-dark text-center"
        aria-labelledby="basic-link"
      >
        <li class="nav-item">
          <a class="nav-link" (click)="goToUpdateSelf()">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToChangePassword()">Change password</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </ul>
  </ngx-navbar-collapse>
</nav>
